header{
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

body{
    background-color: #fff;
}

.navbar{
   padding-bottom: 0 !important;
   padding-top: 0 !important; 
}
ul span{
    line-height: 40px;
}
.form-inline{
    margin-right: 20px ;
}
.nav-link{
    padding: 0 .5rem !important;
    line-height: 50px;
    margin: 0 10px;
    text-transform: uppercase;
}
.hover-nav{
   min-width: 120px; 
   text-align: center;
}

.hover-nav :hover{
    background-color: var(--bs-teal);
}
.hover-nav:hover > .nav-link{
    color: #fff !important;
}
.cart{
    color: var(--bs-yellow) !important;
}
.account{
    color: var(--bs-cyan) !important;
}
.cart:hover{
    color: var(--bs-orange) !important;
}
.account:hover{
    color: var(--bs-primary) !important;
}
.nav-link i{
    font-size: 20px ;
}

.account__active{
    display: block !important;
}

.combo_cart{
    min-height: 100vh;
}

